.notification {
    position: fixed;
    top: 20px;
    right: 10%;
    transform: translateX(-50%);
    z-index: 1000;
    padding: 15px;
    max-width: 400px;
    width: 100%;
    text-align: center;
    border-radius: 4px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    opacity: 1;
    pointer-events: none;
    transition: opacity 0.3s ease-in-out;

    @keyframes slideIn {
        from {
            transform: translateY(-150%);
        }
        to {
            transform: translateY(0);
        }
    }
    
    @keyframes slideOut {
        from {
            transform: translateY(0);
        }
        to {
            transform: translateY(-150%);
        }
    }

    animation: slideIn 0.5s forwards, slideOut 0.5s forwards 4.5s;

    &--success {
        background-color: #4caf50;
        color: #fff;
    }

    &--danger {
        background-color: #f44336;
        color: #fff;
    }

}

