* {
	box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: $bkg_primary;
    color: $text_primary;
    font-family: sans-serif;
    width: 100%;
    position: relative;
}

a{
	color: inherit !important;
	text-decoration: none !important;
}

ul, li{
	list-style: none;
}

p {
	line-height: 1.5;
}